@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  cursor: none;
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  transform-origin: bottom;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  transform-origin: top;
  z-index: 99;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fff;
}

.loader-svg {
  width: 100px;
  height: 100px;
  animation: rotate 2s linear infinite;
}

circle {
  animation: dash 2s ease-in-out infinite, colorFade 6s ease-in-out infinite;
  transform-origin: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 282;
    stroke-dashoffset: -161.5;
  }
  50% {
    stroke-dasharray: 283, 0;
    stroke-dashoffset: -484.5;
  }
  100% {
    stroke-dasharray: 1, 282;
    stroke-dashoffset: -757.75;
  }
}

@keyframes colorFade {
  0%,
  100% {
    stroke: #333;
  }
  50% {
    stroke: #000;
  }
}
.container {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 100%;
  color: white;
  z-index: 1200;
}
.container h1 {
  color: white;
}
.form {
  display: grid;
  gap: 1rem;
  margin-top: 3rem;
  grid-template-columns: 1fr 1fr;
}
.name {
  width: fit-content;
  position: relative;
  margin-top: 2rem;
  width: 100%;
}
.name input {
  border: 1px solid rgba(255, 255, 255, 0.349);
  color: white;
  border-radius: 3rem;
  background-color: transparent;
  padding: 2rem 4rem;
  text-align: left;
  width: 100%;
}
.email {
  width: fit-content;
  border-radius: 2rem;
  position: relative;
  margin-top: 2rem;
  width: 100%;
}
.email input {
  border: 1px solid rgba(255, 255, 255, 0.349);
  color: white;
  border-radius: 3rem;
  background-color: transparent;
  padding: 2rem 4rem;
  text-align: left;
  width: 100%;
}
.message .input {
  border: 1px solid rgba(255, 255, 255, 0.349);
  color: white;
  border-radius: 3rem;
  background-color: transparent;
  padding: 3.5rem 4rem;
  width: 100%;
  height: 100%;
}
.send {
  border-radius: 3rem;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: left;
  padding: 2rem 4rem;
  border: 1px solid rgba(255, 255, 255, 0.349);
  background-color: rgba(255, 255, 255, 0.846);
  transition: 0.42s;
}
.send:hover {
  background-color: transparent;
  color: white;
}
.error-btn {
  color: white;
  font-size: 1.2rem;
  padding: 1rem 0rem 2rem;
  display: flex;
}
.error-btn p {
  padding: 0 2rem 0 0;
}
@media (max-width: 700px) {
  .form {
    grid-template-columns: 1fr;
    margin-top: 8rem;
  }
  .email {
    margin-top: 0;
  }
  .name input {
    padding: 1.5rem 4rem;
  }
  .email input {
    padding: 1.5rem 4rem;
  }
  .send {
    margin-top: 2rem;
    padding: 1.5rem 4rem;
  }
  .error-btn {
    text-align: center;
  }
}
