.projects {
  padding: 0 10%;
  background-color: rgb(11, 11, 11);
}
.projects h1 {
  font-size: 2rem;
  color: white;
  font-weight: 500;
  margin-top: 7rem;
  opacity: 0.9;
}
.projects h3 {
  font-size: 1.5rem;
  align-items: flex-start;
  color: white;
  opacity: 0.7;
}
.projectSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  border-radius: 2rem;
  gap: 3rem;
  color: white;
  margin-top: 5rem;
}
.interContent {
  display: flex;
  flex-direction: column;
}
.interContent img {
  border-radius: 1rem;
  max-height: 100%;
  max-width: 100%;
}
.tehnoUsed {
  display: flex;
  flex-direction: row;
}
.tehnoUsed p {
  border-radius: 0.5rem;
  background-color: rgba(47, 47, 47, 0.851);
  padding: 0 0.5rem 0;
  margin-top: 0.8rem;
  margin-left: 0.5rem;
}
.nameWork {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
@media (max-width: 1100px) {
  .projects {
    padding: 0 2%;
  }
  .projects h1 {
    text-align: center;
  }
  .projects h3 {
    text-align: center;
  }

  .projectSection {
    grid-template-columns: 1fr;
  }
  .tehnoUsed {
    justify-content: center;
  }
  .nameWork {
    text-align: center;
  }
}
.counting {
  display: flex;
  color: white;
  align-items: center;
  padding: 1rem;
  justify-content: flex-start;
  padding-top: 3.5rem;
  opacity: 0.7;
}
.line {
  height: 1px;
  width: 20%;

  background-color: white;
}
.numbers {
  margin-right: 1rem;
  margin-left: 1rem;
  cursor: pointer;
}
@media (max-width: 600px) {
  .line {
    display: none;
  }
  .numbers {
    display: none;
  }
}
